@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,423&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@333&display=swap');

@media(max-width: 321px) {
  .container {
    grid-template-columns: 1fr;
  }
    header {
      flex-direction: column;
      align-items: center;
      padding: 0.7rem .7rem 0rem .7rem;
    }
  
    nav ul {
     font-size: 0.6em;
      justify-content: center;
      gap: 1.1rem;
      padding: 0.7rem .7rem 0rem .7rem;
    }
  
    .logo {
     margin-bottom: 0.3rem;
    }
    .home-img img {
      max-width: 100%;
  }
  .home-content {
    transform: translate(0%, 20%);
    height: initial;
  }
  .home {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .Title-name {
    font-size: 1.4rem;
  }
  .Title-desc-mobile {
    display: block;
  }
  .Title-desc-web {
    display: none;
  }
  .home-img {
    width: initial;
    padding: 0;
    margin: 0.9rem 0.5rem 0.7rem 0.5rem;
  }
  .socials {
    margin-bottom: 2.5rem;
  }
  main {
    padding: 0rem 1rem 1rem 1rem;
}
.contact-form{
  width: 80%;
}

.contact-img img {
  width: 95%;
}
  }
 
@media(min-width: 322px) and (max-width: 520px) {
   .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }
   header {
     flex-direction: column;
     align-items: center;
     padding: 0.7rem .7rem 0rem .7rem;
   }
 
   nav ul {
    font-size: 0.75rem;
     justify-content: center;
     gap: 1.1rem;
     padding: 0.7rem .7rem 0rem .7rem;
   }
 
   .logo {
    margin-bottom: 0.3rem;
   }
   .home-img img {
    max-width: 85%;
}
.home-content {
  transform: translate(0%, 20%);
  height: initial;
}
.home {
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.Title-desc-mobile {
  display: block;
}
.Title-desc-web {
  display: none;
}
.home-img {
  width: initial;
  padding: 0;
  margin: 0.9rem 0.5rem 0.7rem 0.5rem;
}
.socials {
  margin-bottom: 2.5rem;
}
main {
    padding: 0rem 1rem 1rem 1rem;
}

.contact-form{
  width: 80%;
}

.contact-img img {
  width: 95%;
}
 }
 

@media(min-width: 521px) and (max-width: 950px) {
    nav ul {
       font-size: 1em;
        justify-content: center;
 
      }

      .home-img {
        padding: 0;
      }
      
      .home-img img {
        height: 28%;
      }

      .home-content {
        transform: translate(16%, 5%);
        padding: 0;
      }

      .Title-name {
        font-size: 1.4rem;
    }
    .Title-desc-web {
      font-size: 1.7rem;
      padding-left: 2.2rem;
  }
  
  .socials {
    margin: 0 auto 0 25px;
  }

 }
 